
body {
    background: deepskyblue;
    background-image: url("images/uploads/euro2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

a {
    color: #373537;
}


.navbar-fixed {
    position: absolute;
    top: 0;
    left: 0;
}

#exterior-button {
    position: fixed;
    top: 20%;
    left: 10%;
}



#plansa {
    margin-top: 100px;
}

#inplansa {
    margin-left: auto;
    margin-right: auto;
}
#panou-question {
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 130px;
}

.mybody-text{
    font-size: 17px;
}
.time{
    color: cadetblue;
}

.comment_q{
    background-color: #e0dfdf;
    /*background-color: gold;*/
    position: relative;
    color: #629997;
    /*color: #084941;*/
    font-size: 12px;
    padding: 6px;
    margin-top: 10px;
    border-radius: 20px 20px;
    margin-bottom: 5px;
    box-shadow:  inset -5px 5px 5px -5px rgba(0,0,0,0.58);
    /*border-color: darkturquoise;*/
    /*border-width: 0px 2px 2px 2px;*/
    /*border-style: solid;*/
}
.comment_q:hover{
    background-color: gold;
    color: #084941;
}
.comment_a{
    position: relative;
    background-color: #e0dfdf;
    /*background-color: gold;*/
    color: #629997;
    /*color: #084941;*/
    font-size: 12px;
    padding: 6px;

    border-radius: 20px 20px;
    margin: 5px 20px;

}
.comment_a:hover {
    background-color: gold;
    color: #084941;
}
.answer {

    background-color: #f6f6f1;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;


}

.question {
    /*border-radius: 0 0 0 0;*/
    /*border-color: darkturquoise;*/
    /*border-width: 2px 2px 0 2px;*/
    /*border-style: solid;*/
    padding: 10px;
    margin-bottom: 0;
}

button {
   margin-bottom: 10px;
}

.add_tag:hover {
    color: maroon;
}

.right{
    float: right;
}

.topcard {
    background-color: #ffffff;

    padding: 10px 40px;
    margin: 0;
    box-shadow:         inset 0 0 10px #d4cfcf;
    z-index: 2;
}

.card-panel.hoverable.white.lighten-5 {
    padding: 0;
    position: relative;
}
.card-panel.hoverable.white.lighten-5::after {
    position: absolute;
    content: '';
    top: 85px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("/static/images/Untitled.png") ;
    background-size: 100%;
    opacity: 0.15;
}

.bottomcard {
    /*background-color: #ffffff;*/
    padding: 0px 0px;
    box-shadow:         inset 0 0 10px #d4cfcf;

}

.light-grey.light2 {
    padding: 0;
    margin: 0;
}

.card-action {
    /*background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(32,141,215,1) 44%, rgba(0,212,255,1) 100%);*/
    background: linear-gradient(90deg, rgba(0,255,179,0.4766281512605042) 0%, rgba(0,212,255,0.41220238095238093) 36%, rgba(0,212,255,0.41780462184873945) 59%, rgba(0,255,192,0.4654236694677871) 100%);
    position: relative;
    text-align: center;
    padding: 10px 40px;
    box-shadow:         inset 0 0 10px #d4cfcf;
    border-top-color: #342a2a;
    border-top-width: 4px;
    border-top-style: solid;
    z-index: 2;

}
.user_container {
    padding: 50px;
    text-align: left;
}
.user > li {
    margin: 12px;

}
.def_text {
    font-size: 20px;
    color: #084941;
}
.rez_text {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}