{% extends 'base.html' %}
{% block title %}
  add tag
{% endblock %}
{%  block content %}
<body>
    <div class="container">
    <h3>{{ question.title}}</h3>
    <br />
    <div class="container">
        <p> {{ question.message }}</p>
    </div>
      <hr>
        <form action="/question/{{question['id']}}/new-tag" method="post" >
            <input name= "tag" type="text" placeholder="your tag">
            <button class="btn indigo" type="submit" > <span>create tag</span> <i class="material-icons right">send</i>
        </form>
{% endblock %}