{% extends 'base.html' %}
{% block title %}
  your answer
{% endblock %}
{%  block content %}
<body>
    <div class="container">
    <h3>{{ question.title}}</h3>
    <br />
    <div class="container">
        <p> {{ question.message }}</p>
    </div>
      <hr>
        <form action="/question/{{question['id']}}" method="post">
            <label for="question_message_area" class="active">your answer for this question</label>
            <textarea class="materialize-textarea" id="question_message_area" name="message" cols="30" rows="5" placeholder="your answer here"></textarea>
            <button class="btn indigo" type="submit" > <span>create answer</span> <i class="material-icons right">send</i>
        </form>
{% endblock %}