<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href={{ url_for ('static', filename='styles.css') }}>
    <title>
        {% block title %}

        {% endblock %} | Yolp
    </title>
</head>
<body>

<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper blue" >
      <a href="/" class="brand-logo" style="padding-left: 18vh; font-size: 3em;">yolp</a>
         <ul class="right hide-on-med-and-down">
             {% if 'username' in session %}
                 <li><a href="/tags">Tags</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/user/{{ session.id }}" >{{ session.username }}</a></li>
                <li><a href="/logout" >Logout</a></li>
             {% else %}
          <li><a href="/login" >Login</a></li>
             {% endif %}
      </ul>
        <form style="padding-left: 120vh" method="post" action="/search">
        <div class="input-field" style="display:inline-block">

          <input id="search" type="search" name="search" required>
          <label class="label-icon" for="search" ><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

    </div>

  </nav>
</div>
<img src="/static/images/2logo-euro-2020.png" alt="sigla-euro-2020" height="300px" style="position: fixed; left: 90px; top: 250px;">
<div class="center">
<div class="card-panel hoverable s12 m4 l2" id="panou-question">
{% block content %}

{% endblock %}
</div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>