{% extends 'base.html' %}
{% block title %}
 Edit Answer
{% endblock %}
{%  block content %}
<h3 class="grey-text text-lighten-1">edit this answer</h3>
<form action="/answer/{{ answer_id }}/edit?question_id={{ answer.question_id }}" method="POST" class="col s12" enctype="multipart/form-data" >
    <br>
    <textarea name="message" id="input_question_area" cols="60" rows="70" placeholder="message">{{ answer.message }}</textarea>
    <br>
    <div class="file-field input-field">
    <div class=" btn-small pink">
        <i class="material-icons right">folder</i> add image
        <input type="file" name="image" id="image" >
    </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <button class="btn indigo" type="submit" > <span>edit question</span> <i class="material-icons right">send</i></button>
</form>

{% endblock %}