<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href={{ url_for ('static', filename='style.css') }}>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<nav>
    <div class="nav-wrapper blue">
      <a href="/list" class="brand-logo" style="margin-left: 18vh">yolp</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons left">search</i>search</a></li>
        <li><a href="#"><i class="material-icons right">view_module</i>list order</a></li>
      </ul>
    </div>
  </nav>

<a href="/add-question" id="exterior-button" class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">add</i></a>
<div class="center-list">

    <div class="card-panel hoverable">
        {% for question in questions %}
            <div class=" col s12 16">
                <div class="card-panel hoverable teal lighten-5" onclick="window.location='/question/{{question['id']}}'">
                <h5>{{ question.title }}</h5>
                    <hr class="light-grey light2">
                    <p>{{ question.message }}</p>
                    <div class="card-action" style=" width: max-content">
                    <button class="btn-floating white waves-effect waves-light"><i class="material-icons teal-text  text-lighten-4 " >visibility</i></button><span class="blue-text" style="margin-left: 10px">{{ question.view_number }}</span>
                        <button class="btn-floating white waves-effect waves-light" onclick="window.location='/add_vote?name={{ question.id }}&type_vote=question&id={{ question.id }}'" style="margin-left: 70vh"> <i class="material-icons teal-text  text-lighten-4">favorite</i></button><span class="blue-text " style="margin-left: 10px">{{ question.vote_number }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>