<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href={{ url_for ('static', filename='styles.css') }}>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<div class="navbar-fixed">
<nav>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="/list?order=title&type=asc">Title<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=message&type=asc">Message<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=submission_time&type=asc">Time<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=view_number&type=asc">Views<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=vote_number&type=asc">Votes<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/list?order=title&type=desc">Title<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=message&type=desc">Message<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=submission_time&type=desc">Time<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=view_number&type=desc">Views<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=vote_number&type=desc">Votes<i class="material-icons left" >filter_list</i></a></li>
</ul>
    <div class="nav-wrapper blue">
      <a href="/list" class="brand-logo" style="padding-left: 18vh; font-size: 3em;">yolp</a>

      <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">sort descendent<i class="material-icons left" >filter_list</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">sort ascendent<i class="material-icons left" style="transform: rotate(-180deg)">filter_list</i></a></li>
      </ul>
        <form style="padding-left: 122vh" method="post" action="/search">
        <div class="input-field" style="display:inline-block">

          <input id="search" type="search" name="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

  </nav>
</div>
<a href="/add-question" id="exterior-button" class="waves-effect waves-light blue btn-floating btn-large btn " style="z-index: 0"><i class="material-icons">add</i></a>
<div class="container row" id="plansa">
{#    <div class=" container s12 m4 l8">#}
    <div class="container row s12 m4 l8 card-panel hoverable " id="inplansa">
        {% for question in questions %}
            <div class="mycard" id="{{ question.id }}">
                <div class="card-panel hoverable teal lighten-5" >
                    <p class="time" >
                        {{ question.submission_time }}</p>
                <h5 ><a href="/question/{{question['id']}}">
                    {% if word in question.title.lower() %}
                         {{ question.title.lower()|replace(word, '<span style="background-color: #a0e0dc;">{}</span>'.format(word))|safe}}
                    {% else %}
                        {{ question.title }}
                    {% endif %}
                </a></h5>
                    <hr class="light-grey light2">
                    <div class="s12 m2 l2 row ">

                        <div class="col left">
                            {% if question.image %}
                            <div class="card" style="padding: 5px;">
                    <img src="/static/images/uploads/{{ question['image'] }}" alt="" height="70px" style=" margin-top: 5px; padding: 0";>
                                </div>
                            {% endif %}
                            </div>
                            <div class="col  container" style=" height: 130px; margin: 0 0 0 0; padding: 2% 0 0 0;  text-align: left; text-justify: inter-word ;display: flex; flex-direction: column; justify-content: center;">

                    <span class=" " style=" height: 70px; margin: 0; padding: 0; overflow: hidden !important; text-align: left; text-overflow: ellipsis; white-space: nowrap ">
                        {% if word in question.message %}
                         {{ question.message.replace(word, '<span style="background-color: #a0e0dc;">{}</span>'.format(word))|safe}}
                    {% else %}
                        {{ question.message }}
                        {% endif %}
                    </span>

                            </div>
                    </div>
                    <div class="card-action"  >
                        <button class="btn-floating white lighten-2 waves-effect waves-light " onclick="window.location='/question/{{ question.id }}/delete'"><span class="teal-text text-lighten-5" style="font-weight: bold"><i class="material-icons pink-text text-lighten-3">delete_forever</i></span></button>
                    <button class="btn-floating white waves-effect waves-light"><i class="material-icons teal-text  text-lighten-4 " >visibility</i></button><span class="blue-text" style="margin-left: 10px">{{ question.view_number }}</span>
                        <button class="btn-floating white waves-effect waves-light" onclick="window.location='/add_vote?id={{ question.id }}&type_vote=question&operation=plus'" style="position: static; margin-left: 67%; "> <i class="material-icons teal-text  text-lighten-3">thumb_up</i></button><span class="blue-text " style="position: static; padding-top: 10px;padding-left: 5px">{{ question.vote_number }}</span>
                        <button class="btn-floating white waves-effect waves-light" onclick="window.location='/add_vote?id={{ question.id }}&type_vote=question&operation=minus'" style="position: static; margin-left: 1%; "> <i class="material-icons red-text  text-lighten-3">thumb_down</i></button>

                    </div>

                        {% for answer in answers %}
                            {% if answer.question_id == question.id %}
                                <div style="background-color: aliceblue;color: #629997">
                                {% if word in answer.message %}
                         {{ answer.message.replace(word, '<span style="background-color: #a0e0dc;">{}</span>'.format(word))|safe}}
                    {% else %}
                        {{ answer.message }}
                        {% endif %}
                                </div>
                            {% endif %}
                            {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
{#    </div>#}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $( document ).ready(function(){
        $(".dropdown-trigger").dropdown();
    })


</script>

</body>
</html>
