{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}
{%  block content %}
    <div class="grey-text text-lighten-1">
    <p>Please Login</p>
    </div>
    <div class="login-form" style="text-align: center">

    <form action="/login" method="post">
        <input name="username" type="email" placeholder="name@mail.com"><BR>
        <input name="password" type="password" placeholder="password"><br>
        <button class="btn-small pink" type="submit">Login</button><br>

    </form>
    <p> If you don't have an account please Register</p>
    <button  class="btn-small pink" onclick="window.location='/registration'">Register</button>
    </div>
{% endblock %}