{% extends 'base.html' %}
{% block title %}
  question
{% endblock %}
{%  block content %}
    <div class="s1 m6 l6 align-center p4" >
    <h3 class="center-align p25 ">{{ question.title}}</h3>
     <br />
    </div>

    <div>
        <p> {{ question.message }}</p>
    </div>
    <p>views: {{ question.view_number }}</p>
    <br><hr>

    {% for answer in answers  %}
    <div>
        <h5>answer:</h5>
        <p>
            {{ answer.message }}
        </p>
        {%  if answer.image %}
        <img src="{{ answer.image }}" alt="">
        {% endif %}
        <span>vote: {{ answer.vote_number }}</span>
    </div>
    {% endfor %}


<a href="/question/{{ question.id }}/new-answer" class="btn-floating blue pulse"> add </a>
{% endblock %}