<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href={{ url_for ('static', filename='styles.css') }}>
    <title>
        Search | Yolp
    </title>
</head>
<body>
<div class="navbar-fixed">
<nav>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="/list?order=title&type=asc">Title<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=message&type=asc">Message<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=submission_time&type=asc">Time<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=view_number&type=asc">Views<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=vote_number&type=asc">Votes<i class="material-icons right" style="transform: rotate(-180deg)">filter_list</i></a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/list?order=title&type=desc">Title<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=message&type=desc">Message<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=submission_time&type=desc">Time<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=view_number&type=desc">Views<i class="material-icons left" >filter_list</i></a></li>
    <li class="divider"></li>
    <li><a href="/list?order=vote_number&type=desc">Votes<i class="material-icons left" >filter_list</i></a></li>
</ul>
    <div class="nav-wrapper blue">
      <a href="/list" class="brand-logo" style="padding-left: 18vh; font-size: 3em;">yolp</a>

      <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">sort descendent<i class="material-icons left" >filter_list</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">sort ascendent<i class="material-icons left" style="transform: rotate(-180deg)">filter_list</i></a></li>
            {% if 'username' in session %}
                <li><a href="/tags">Tags</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/user/{{ session.id }}" >{{ session.username }}</a></li>
                <li><a href="/logout" >Logout</a></li>
             {% else %}
          <li><a href="/login" >Login</a></li>
             {% endif %}
      </ul>
        <form style="padding-left: 85vh" method="post" action="/search">
        <div class="input-field" style="display:inline-block">

          <input id="search" type="search" name="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

  </nav>
</div>
{#{% if 'username' in session %}#}
{#<a href="/add-question" id="exterior-button" class="waves-effect waves-light blue btn-floating btn-large btn " style="z-index: 2"><i class="material-icons">add</i></a>#}
{#{% endif %}#}
<img src="/static/images/2logo-euro-2020.png" alt="sigla-euro-2020" height="300px" style="position: fixed; left: 90px; top: 250px;">
<div class="container row" id="plansa">
    <div class="container row s12 m4 l8 card-panel hoverable transparent " id="inplansa">
        <div class="user_container">
            <ul class="user">
                <li><span class="text_grey_bold">User Details</span></li>
                <li><span class="def_text">User id: &nbsp</span> <span class="rez_text">{{ user.id }}</span></li>
                <li><span class="def_text">User alias: &nbsp</span> <span class="rez_text">{{ user.alias }} </span></li>
                <li><span class="def_text">User email: &nbsp</span> <span class="rez_text">{{ user.username }}</span> </li>
                <li><span class="def_text">User created accout at: &nbsp</span> <span class="rez_text">{{ user.submission_time }}</span> </li>
                <li><span class="def_text">Count of asked questions: &nbsp</span> <span class="rez_text">{{ user.question_count }}</span></li>
                <li><span class="def_text">Count of answers: &nbsp</span> <span class="rez_text">{{ user.answer_count }}</span></li>
                <li><span class="def_text">Count of comments: &nbsp</span><span class="rez_text">{{ user.comment_count }}</span></li>
                <li><span class="def_text">Reputation: &nbsp</span><span class="rez_text">{{ user.reputation }}</span></li>
            </ul>
        </div>
    </div>

    <div class="container row s12 m4 l8 card-panel hoverable transparent " id="inplansa">
        <div class="user_container">
        <span class="text_grey_bold">Questions</span><br>
        {% for question in questions %}
            {% if user.id == question.users_id %}
              <span class="text_blue">Tilte:</span>  <a class="user_link" href="/question/{{question['id']}}">{{ question.title }}</a><br>
              <span class="text_blue">Message:</span>  {{ question.message }}<br><hr>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="container row s12 m4 l8 card-panel hoverable transparent " id="inplansa">
        <div class="user_container">
        <span class="text_grey_bold">Answers:</span><br>
        {% for answer in answers %}
            {% if user.id == answer.users_id %}
                <span class="text_blue">Message:</span> <a class="user_link" href="/question/{{answer['question_id']}}">  {{ answer.message }}</a><br><hr>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="container row s12 m4 l8 card-panel hoverable transparent " id="inplansa">
        <div class="user_container">
        <span class="text_grey_bold">Comments</span><br>
        {% for comment in comments %}
            {% if user.id == comment.users_id %}
                {% if comment.question_id != None%}
                <span class="text_blue">Title:</span><a class="user_link" href="/question/{{comment['question_id']}}">  {{ comment.message }}</a><br><hr>
                {% else %}
                    {% for answer in answers %}
                        {% if comment.answer_id == answer.id %}
                            <span class="text_blue">Answer:</span>
                            <a class="user_link" href="/question/{{answer.question_id}}"> {{ comment.message }}</a><br><hr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $( document ).ready(function(){
        $(".dropdown-trigger").dropdown();
    })


</script>

</body>
</html>





